<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Error Stock</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="../static/css/intro.css"
          th:href="@{/css/intro.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<!--/*/ <th:block th:include="fragments/headerN :: headerN"></th:block> /*/-->
<div class="container">
    <div>
        <h4 align="center" style="color: #FFF">Ops , Sorry we have an error</h4>
    </div>
</div>

</body>
</html>