<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Alarms</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="../static/css/intro.css"
          th:href="@{/css/intro.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<!--/*/ <th:block th:include="fragments/headerN :: headerN"></th:block> /*/-->

<div class="container">
    <div th:if="${#lists.isEmpty(alarms)}">
        <h2 align="center" style="color: #FFF">No alarms</h2>
    </div>
    <div class="col-sm-12 toppad" th:if="${not #lists.isEmpty(alarms)}">
        <div class="panel panel-info" align="center">
            <div class="panel-heading">
                <h6>Alarms</h6>
            </div>
            <table class="table table-user-information">
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Exchange</th>
                    <th>Currency</th>
                    <th>Price</th>
                    <th>Price Target</th>
                    <th>% Target</th>
                    <th>% Change</th>
                    <th>Current Price</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="alarm : ${alarms}">
                    <td th:text="${alarm.symbol}"></td>
                    <td th:text="${alarm.name}"></td>
                    <td th:text="${alarm.stockExchange}"></td>
                    <td th:text="${alarm.currency}"></td>
                    <td th:text="${#numbers.formatDecimal(alarm.price, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(alarm.priceTarget, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(alarm.percentChange, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(alarm.currentPercentChange, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(alarm.currentPrice, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${alarm.alarmStatus}"></td>
                    <td><a th:href="${'/alarm/edit/' + alarm.id}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                    <td><a th:href="${'/alarm/delete/' + alarm.id}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>